.container {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.filters{
   margin: 85px auto 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.filters button{
   background-image: linear-gradient(45deg, rgb(0, 119, 255), #7200c4);
   background-size: 200%;
   background-position: left;
   backdrop-filter: blur(8px);
   border: none;
   margin-right: 25px;
   cursor: pointer;
}

.filters button:hover{
   background-position: right;
   transform: scale(1.05);
}

.clicked{
   border: 1px solid white !important;
   transform: scale(1.05);
}

.grid {
   flex: 1;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
   gap: 20px;
   padding: 2rem;
}

.card {
   padding: 25px;
   background: var(--cardBackgroundColor);
   border-radius: 12px;
   border: 1px solid var(--borders);
   cursor: pointer;
   transition: 0.2s ease;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.card:hover {
   transform: translateY(-4px);
   border-color: var(--accent);
}

.preview {
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.name {
   text-align: center;
   margin-top: 25px;
   font-weight: 600;
   color: var(--primaryText);
}
