.container {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
.grid {
   flex: 1;
   margin-top: 65px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
   gap: 20px;
   padding: 2rem;
}

.card {
   padding: 25px;
   background: var(--cardBackgroundColor);
   border-radius: 12px;
   border: 1px solid var(--borders);
   cursor: pointer;
   transition: 0.2s ease;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.card:hover {
   transform: translateY(-4px);
   border-color: var(--accent);
}

.preview {
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.name {
   text-align: center;
   margin-top: 25px;
   font-weight: 600;
   color: var(--primaryText);
}
