@import '../../App.css';

html {
   scroll-behavior: smooth;
}

h1 {
   font-size: 2.2rem;
   color: var(--primaryText);
}

h2 {
   color: var(--primaryText);
   font-size: 1.8rem;
}

.container {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.logoContainer {
   display: flex;
   align-items: center;
   margin-top: 0;
}

.logo {
   width: 220px;
   height: 220px;
}

.titleContainer {
   margin-left: -40px;
}

.description {
   font-size: 0.9rem;
   color: var(--primaryText);
}

.links {
   margin-top: -20px;
   text-align: center;
   width: 100%;
}

.links * {
   text-decoration: none;
   margin-right: 10px;
   padding: 7px 15px;
   border-radius: 7px;
   transition: all ease-in-out 0.15s;
}

.links span {
   font-family: 'Inter', sans-serif;
   background-color: #098cff;
   color: white;
   cursor: pointer;
}

.links span:hover {
   background-color: var(--linkHover);
}

.links .link {
   border: 1px solid black;
   color: black;
   background-color: rgb(207, 207, 207);
}

.links .link:hover {
   background-color: white;
}

.featuresContainer {
   margin-top: 50px;
   width: 100%;
}

.featuresContainer h2 {
   text-align: center;
   margin-bottom: 15px;
}

.features {
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;
}

.features div {
   background-color: rgb(122, 122, 122);
   padding: 7px 15px 15px;
   border-radius: 7px;
   width: 85%;
}

.features div * {
   color: white;
}

.features div p {
   font-size: 1rem;
}

.installationContainer {
   margin-top: 50px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.installationContainer h2 {
   text-align: center;
   margin-bottom: 10px;
}

.code {
   background-color: #1e1e1e;
   border-radius: 7px;
   width: 90%;
   padding: 15px;
   margin-top: 10px;
   margin-bottom: 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: 'Space Mono', sans-serif;
}

.code button {
   background-color: white;
   color: black;
   border: none;
   font-size: 0.9rem;
   max-width: 40%;
}

.code button:hover {
   background-color: rgb(224, 224, 224);
}

.code button:active {
   background-color: rgb(170, 170, 170);
}

.codeBlock {
   color: white;
}

@media (min-width: 768px) {
   h1 {
      font-size: 2.5rem;
   }

   .logo {
      width: 230px;
      height: 230px;
   }

   .titleContainer {
      margin-left: -50px;
   }

   .links {
      margin-top: -30px;
   }

   .features div {
      width: 70%;
   }

   .installationContainer * {
      width: 90%;
   }
}

@media (min-width: 1024px) {
   .container {
      align-items: flex-start;
   }

   .logoContainer {
      margin-top: -50px;
   }

   .logo {
      width: 300px;
      height: 300px;
   }

   .titleContainer {
      margin-left: -60px;
   }

   h1 {
      font-size: 3rem;
   }

   .description {
      font-size: 1.1rem;
   }

   .links {
      margin-left: 82px;
      text-align: left;
   }

   .features {
      flex-direction: row;
      justify-content: space-evenly;
   }

   .features div {
      width: auto;
   }

   .featuresContainer h2 {
      text-align: left;
      margin-left: 88px;
   }

   .installationContainer {
      margin-left: 82px;
      align-items: flex-start;
   }

   .installationContainer h2 {
      text-align: left;
   }

   .code {
      max-width: 520px;
}
}

@media (min-width: 1280px) {
   .logo {
      width: 350px;
      height: 350px;
   }

   .titleContainer {
      margin-left: -70px;
   }

   h1 {
      font-size: 3.5rem;
   }

   .description {
      font-size: 1.2rem;
   }
}
