@import '../../App.css';

.navBar{
   position: fixed;
   top: 0;
   margin-top: 15px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
}

.returnBtn{
   margin-left: 25px;
}

.returnBtn button{
   background-color: #0074e0;
   border: none;
   color: white;
   font-size: 1.1rem;
}

.search{
   flex: 1;
   max-width: 650px;
   outline: none;
   color: var(--navTextColor);
   border: 1px solid var(--navBorderColor);
   box-shadow: 0 0 10px var(--navBorderColor);
   font-size: 1.1rem;
   border-radius: 7px;
   padding: 7px 15px;
   background-color: var(--navBackgroundColor);
}

.search::placeholder{
   color: var(--placeholderTextColor);
}

.darkMode{
   margin-right: 25px;
   width: 50px;
   height: 50px;
   border: 1px solid black;
   border-radius: 50%;
}

.darkMode button{
   border: none;
   border-radius: 50%;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.darkMode button img{
   width: 50px;
   height: 50px;
   object-fit: contain;
}