@import '../../App.css';

html{
   scroll-behavior: smooth;
}


h2{
   color: var(--primaryText);
}

.logoContainer
{
   display: flex;
   align-items: center;
   margin-top: -50px;
}

.logo{
   width: 350px;
   height: 350px;
}

.titleContainer{
   margin-left: -70px;
}

h1{
   font-size: 3.5rem;
   color: var(--primaryText);
}

.description{
   font-size: 1.2rem;
   color: var(--primaryText);
}

.links{
   margin-top: -50px;
   margin-left: 82px;
}

.links *{
   text-decoration: none;
   margin-right: 15px;
   padding: 7px 15px;
   border-radius: 7px;
   transition: all ease-in-out 0.15s;
}

.links a{
   background-color: #098cff;
   scroll-behavior: smooth;
   color: white;
}

.links a:hover{
   background-color: var(--linkHover);
}

.links .link{
   border: 1px solid black;
   color: black;
   background-color: rgb(207, 207, 207);
}

.links .link:hover{
   background-color: rgb(255, 255, 255);
}

.featuresContainer{
   margin-top: 65px;
}

.featuresContainer h2{
   font-size: 2.5rem;
   margin-left: 88px;
   margin-bottom: 15px;
}

.features {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.features div{
   background-color: rgb(122, 122, 122);
   padding: 7px 15px 15px;
   border-radius: 7px;
}

.features div *{
   color: white;
}

.features div h3{
   margin-bottom: 10px;
}

.features div p{
   font-size: 1.1rem;
}

.installationContainer{
   margin-left: 82px;
   margin-top: 65px;
}

.installationContainer h2{
   font-size: 2.5rem;
   margin-bottom: 10px;
   
}

.code{
   background-color: #1e1e1e;
   border-radius: 7px;
   max-width: 520px;
   padding: 15px;
   margin-top: 10px;
   margin-bottom: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: 'Space Mono', sans-serif;
}

.code button{
   background-color: white;
   color: black;
   border: none;
   font-size: 1rem;
}

.code button:hover{
   background-color: rgb(224, 224, 224);
}

.code button:active{
   background-color: rgb(170, 170, 170);
}

.codeBlock{
   color: white;
}